@charset "utf-8";

@font-face {
    font-family: 'FontAwesome';
    src: url('../font/fontawesome-webfont.eot');
  }

html{
    overflow-x: hidden;
    background-color:white;
}

h1{
    font-size: 24px;
    line-height: 1;
    color: #1a0dab;
}

h2{
    font-size: 14px;
    line-height: 1.4;
    font-family: arial,sans-serif;
    color: grey;
}

h3{
    font-size: 12px;
    line-height: 0;
    font-family: arial,sans-serif;
    color: #3cba54;
}

i{
    padding: 5px;
}

svg{
    margin-top: 7px;
    width:20px;
    color: grey;
}

a{
    font-family: arial,sans-serif;
}

p{
    font-family: arial,sans-serif;
    color: grey;
    text-align: center;
    font-size: 14px;
    margin-left: -25px;
}

#message
{
    font-size: 14px;
    color: red;
    text-align: center;
    padding: 10px;
}

#message2
{
    font-size: 14px;
    color: red;
    text-align: left;
    display: block;
    margin: 10px 0 10px 180px;
}

.img1 
{
    width: 400px;
    margin: 0 auto 0 auto;
    align-self: center;
  
}

.searchbox
{
    padding: 5px 15px;
    border-radius: 2pc;
    color: #a0a0a0;
    outline: none;
    border: solid 1px #d4d4d4;
    width: 500px;
    margin-left: -70px;
    height: 35px;
    margin-bottom: 30px;
}
.searchbox:hover
{
    box-shadow: rgb(194, 194, 194) 1px 1px 5px;
}

.img2 
{
    width: 100px;
    display: inline;
    margin: 10px auto 0 15px;
    align-self: center;
  
}

.searchbox2
{
    padding: 15px 15px;
    
    border-radius: 2pc;
    color: #a0a0a0;
    outline: none;
    border: solid 1px #d4d4d4;
    width: 530px;
    margin: -60px 0 0 170px;
    height: 15px;
    height:40px;
    
}

.searchbox2:hover
{
    box-shadow: rgb(194, 194, 194) 1px 1px 5px;
}

.toolbar
{
    margin-left: 180px;
    display: inline-flex;
}

.toolbar-item
{
    margin-right: 10px;
    background-color: #4c8bf5;
    border-color: #4c8bf5;
    display: inline-flex;
    margin-bottom: 20px;
    
}

.toolbar-item:hover
{
    cursor: pointer;
}

#result-text
{
    display: block;
    margin: 10px 0 0px 180px;
}

.component-text
{
   width: 700px;
   margin-bottom: 40px;
 
}

#result-images
{
    display: none;
    margin: 10px 0 0px 125px;
    width: 100%;
}

.component-images
{
   width:400px;
   padding: 50px 35px;
   display: inline-block;
   max-height: 800px;
 
}

#result-trends
{
    display: none;
    margin: 10px 0 0px 170px;
   
}

#countries
{
    width: 510px;
   margin: 5px 0 0 0px; 
   display: inline-block;
   position: absolute;
   
   
}

select
{
    border: none;
}

label
{
    color: black;
    font-size: 18px;
}

h4{
  color: black;
  font-weight: bolder;
  font-size: 18px;  
  margin: 0;
}

h5{
  padding: 10px 5px;
  color: #4c8bf5 !important;
  font-weight: bolder;
  margin: 0 auto;;
  font-size: 18px;  
  }

h6
{
    padding: 5px 0;
    color: #4c8bf5 !important; 
    font-size: 13px; 
    margin: 0; 
    }

    ul{  
        background-color: grey;  
        cursor:pointer;  
   }  
   li{  
        padding:12px;  
   }  


#rank
{
    width: 500px;
   margin: 100px 0 0 0px; 
   display: inline-block;
   position: absolute;
   margin-bottom: 50px;
     
}

#histogram
{
   width: 780px;
   margin: 10px 0 0 525px; 
   display: inline-block;
   position: absolute;
    
}

.input1{
    background-color: transparent;
    border: none;
    word-wrap: break-word;
    outline: none;

    color: #a0a0a0;
    height: 34px;
    font-size: 16px;
    box-shadow: 2px grey;
    margin: 0px 0 0 8px;
    width: 430px;
}

.input2{
    background-color: transparent;
    border: none;
    word-wrap: break-word;
    outline: none;
    color: #a0a0a0;
    font-size: 16px;
    box-shadow: 2px grey;
    margin: 0px 0 0 10px;
    width: 430px;
}

button
{
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5F6368;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin-right: 5px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

button:hover
{
    border: 1px solid;
   border-color: rgb(170, 170, 170);
   
}

.center{
    width:400px;

    margin:0px auto 150px auto;
}

.buttons{
    width:300px;

    margin:0px auto 30px auto;
}

.footer
{
  display: block;
  position: fixed;
  width: 100%;
  background-color: transparent;
  bottom: 0;
  
}

.footer2
{
  display: block;
  position: fixed;
  width: 100%;
  background-color: transparent;
  padding: 10px;
  bottom: 0;
  background-color: white;
  
  
}

.footer-item
{
    padding: 10px;
}

.pageElement{
    padding-right: 10px;
    padding-left: 10px;
}

#pagination-wrapper-text {
  
    padding: 0 10px;
    margin-bottom: 50px;
    text-align: center;
    width: 100%
}

#pagination-wrapper-images {
  
    padding: 0 10px;
    margin-bottom: 50px;
    text-align: center;
    width: 100%
}

.controls-item {
    display: inline-block;
}

.btn {
    margin: 0 5px;
    background-color: #4c8bf5;
    border-color: #4c8bf5;
}


@media screen and (max-width:530px)
{
    .searchbox
    {
       margin: 0 auto 30px auto;
        width: 300px;
       
    }
    .input1{
        width: 230px;
    }
}